/**
 * Main theme stylesheet
 * All CSS/SCSS files are compiled into assets/css/theme.css
 */

// Import your partials here
// @import 'variables';
// @import 'components/header';
// @import 'components/footer';

//Variables :
$primary-color: #FBF0DE;
$secondary-color: #463426;

//Parties globales du site :

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $primary-color;
}

footer{
    background-color: $secondary-color;
}

.container .row{
    margin: 0 2em;
}

#header .container .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



#header{
    background-color: $primary-color;
    padding: 2em 0;
}

#top-menu{
    li{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: $secondary-color;
        font-weight: bold;
        margin: 0 1em;
    }
}


