/**
 * Main theme stylesheet
 * All CSS/SCSS files are compiled into assets/css/theme.css
 */

// Import Bootstrap
@import '~bootstrap/scss/bootstrap';

// Import your partials here
// @import 'variables';
// @import 'components/header';
// @import 'components/footer';

//Variables :
$primary-color: #FBF0DE;
$secondary-color: #463426;

body{
    background-color: $secondary-color;
}

.container{
    margin: 0;
}

ul{
    margin-bottom: 0;
}

.video-container video{
    filter: brightness(.15);
}

.row > *{
    padding-left: 0;
    padding-right: 0;
}

header{
    background-color: $primary-color;
}

footer{
    background-color: $primary-color;
}

//Video container :
.overlay-icon{
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;

    &:hover{
        background-color: darken($secondary-color, 10%);
        text-decoration: none;
        color: $primary-color;
    }
}

//Module texte custom :
#custom-text{
    background-color: $primary-color;
    padding: 2em 0;
    display: flex;
    justify-content: center;

    margin: 2em 0;
    p{
        color: $secondary-color;
    }
}
//Produit :

.products{
    display: flex;
}

.products-section-title{
    color: $primary-color;
}

.product-miniature{
    color: $primary-color;
}
.product-title{
    a{
        color: $primary-color;
        text-decoration: none;
    }
}

.product-flag{
    display: none;
}

.all-product-link{
    display: none;
}

//Contenu de la page :
#content{
    margin: 0 2em;
}
