/**
 * Main theme stylesheet
 * All CSS/SCSS files are compiled into assets/css/theme.css
 */

// Import Bootstrap
@import '~bootstrap/scss/bootstrap';

// Import your partials here
// @import 'variables';
// @import 'components/header';
// @import 'components/footer';

//Variables :
$primary-color: #FBF0DE;
$secondary-color: #463426;

.container{
    margin: 0;
}

ul{
    margin-bottom: 0;
}

.video-container video{
    filter: brightness(.15);
}

.row > *{
    padding-left: 0;
    padding-right: 0;
}

